DATABASE_URL="postgresql://username:password@localhost:5432/medi_bridge"
JWT_SECRET="long random secret"
PORT=5020
STRIPE_SECRET_KEY="sk_test_51SU74XQhcSCu3hroFA3P9nlPLHh859g0KajSv66IKDDFJS4wBV4iQUgFXEPMJXMXyADQaGUN2YnIVL50VSsyRMu500LKQBjOy9"
STRIPE_WEBHOOK_SECRET="whsec_CXetwyoG8abywVsKdjOLNnCbLlQP0Ozb"

#for example
#DATABASE_URL="postgresql://khadija:123@localhost:5432/medi_bridge"
#JWT_SECRET="4d531ca18cd46cbb10f244b2cbe4386dcd6588d6c95eb4207614b18916c633e08322d3fd99bd697a38ccccfe44e433c72336b0"
#PORT=5020
